<!-- views/partials/header.ejs -->
<div class="container" style="background-color: rgba(0, 0, 0, 0.2)">
  <div class="row">
    <div class="col-sm">
      <h1>REST API School project 3</h1>
    </div>
  </div>
  <div class="row">
    <p>
      <button
        class="btn btn-outline-secondary"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseExample"
        aria-expanded="false"
        aria-controls="collapseExample"
      >
        Web developing with MERN-stack 2021
      </button>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <ul>
          <div class="row">
            <div class="col-sm">
              <li>5+ routes, JSON , handle errors.</li>
              <li>
                API DB queries with
                <a href="https://mongoosejs.com/">Mongoose</a>.
              </li>
              <li>
                Test with <a href="https://www.postman.com/">POSTMAN</a> or
                <a href="https://curl.se/">CURL</a>
              </li>
              <li>
                Publish in <a href="https://www.heroku.com/">Heroku</a>,
                <a href="https://vercel.com/">Vercel</a> or similar.
              </li>
            </div>
            <div class="col-sm">
              <li>
                Source code in
                <a href="https://github.com/teemunasanen?tab=repositories"
                  ><img alt="Github" title="GitHub" src="/github.png"
                /></a>
              </li>
              <li>Comment your code❗</li>
              <li>
                Provide README in the repository with URL:s and other info 😃
              </li>
            </div>
          </div>
        </ul>
      </div>
    </div>
    <p>Teemu Näsänen</p>
    <a href="https://www.laurea.fi/en/"
      >Laurea University of Applied Sciences</a
    >
  </div>
</div>
