<div class="container">
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="pills-courses-tab" data-bs-toggle="pill" data-bs-target="#pills-courses" type="button" role="tab" aria-controls="pills-courses" aria-selected="true">Courses</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-course-id-tab" data-bs-toggle="pill" data-bs-target="#pills-course-id" type="button" role="tab" aria-controls="pills-courses" aria-selected="true">Course by ID</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-add-tab" data-bs-toggle="pill" data-bs-target="#pills-add" type="button" role="tab" aria-controls="pills-add" aria-selected="false">Add</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-remove-tab" data-bs-toggle="pill" data-bs-target="#pills-remove" type="button" role="tab" aria-controls="pills-remove" aria-selected="false">Remove</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-edit-tab" data-bs-toggle="pill" data-bs-target="#pills-edit" type="button" role="tab" aria-controls="pills-edit" aria-selected="false">Edit</button>
  </li>
</ul>

<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-courses" role="tabpanel" aria-labelledby="pills-courses-tab">
    <div class="container">
<h1>Courses</h1>
<a href="https://restaapi3.herokuapp.com/getall">Example</a>
    </div>
  </div>

  <div class="tab-pane fade" id="pills-course-id" role="tabpanel" aria-labelledby="pills-course-id-tab">
    <div class="container">
      <h1>Course by ID</h1>
      <a href="https://restaapi3.herokuapp.com/6138942ac3fe944e503a1e31">Example</a>
    </div>
  </div>

  <div class="tab-pane fade" id="pills-add" role="tabpanel" aria-labelledby="pills-add-tab">
    <div class="container">
      <h1>Add</h1>
     
    </div>
  </div>
  
  <div class="tab-pane fade" id="pills-remove" role="tabpanel" aria-labelledby="pills-remove-tab">
    <div class="container">
      <h1>Remove by ID</h1>
    
    </div>
  </div>

    <div class="tab-pane fade" id="pills-edit" role="tabpanel" aria-labelledby="pills-edit-tab">
      <div class="container-lg">
        <h1>Edit</h1>
       
      </div>
  </div>

</div>
